#chatbot {
    height: calc(60vh - 50px) !important; /* Adjust the height as needed */
    overflow: auto;
    margin-top: 32px;
}

.tab{
    background: white;
}

.tab-nav{
    border-bottom: none;
}
.tab button{
    border: 2px solid #F9FAFB;
}


.tab-nav button{
    padding-bottom: 10px;
    border: none;
}

/* .tab-nav button{
    background: #e4e2dd;
    border: 2px solid transparent;
    border-radius: 10px;
    margin-right: 5px;
    color: black;
}*/

.tab-nav button[aria-selected="true"]{
  background-color: white;
color: #01a982;
}

.tabitem{
    border: none;
    background: white;
}

.left{
    margin-right: 20px;
}

.upload-label{
    font-size: 24px !important;
    margin-bottom: 10px;
}

.menu-item > *{
    margin-bottom: 15px;
}
.file-preview-holder{
    margin-top: 15px;
}
#logo{
width: 100%;
}

.download a{
    color: #01a982 !important;
}

footer {
    visibility: hidden
}